@model Nbegamer.Models.Catagory

@{
    ViewData["Title"] = "CatagoryCreate";
}

<h1>CatagoryCreate</h1>

<h4>Catagory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CatagoryCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatName" class="control-label"></label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatDiscrip" class="control-label"></label>
                <input asp-for="CatDiscrip" class="form-control" />
                <span asp-validation-for="CatDiscrip" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

